@model dotnet.Models.DB.SignosVitale

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SignosVitale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oximetria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oximetria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrecCardiaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrecCardiaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrecRespiratoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrecRespiratoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresionArterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresionArterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glicemias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glicemias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEnfermeroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEnfermeroNavigation.Documento)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
